// SUI overrides and customizations for prototyping

// Add any SUI design token overrides or component customizations here
// Example:
// :root {
//   --sui-color-primary: #your-color;
// }

:root {
  --sm-c-aside-width: 230px;
}

.sm-aside {
  --sidebar-width: 230px !important;
}
